@import './Styles/__reset.css';
@import './Styles/__variables.css';

body {
  font-family: var(--font-body);
  background-color: var(--color-secondary-light-gray);
  color: var(--color-secondary-dark-gray);
}